.container-auth {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("./background.png");
  background-size: cover;
  align-items: center;
}

.container-page-auth {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.logo-img {
  margin-top: 110px;
  width: 50%;
  height: 100px;
}

.input {
  border: none;
  border-bottom: 2px solid #47474e;
  background: none;
  padding: 10px;
  padding-left: 24px;
  width: 70%;
  transition: 0.2s;
  color: #727272;
  margin-top: 50px;

  color: var(--Black, #3f3c3c);
  text-shadow: 0px 12px 4px rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.form-signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  flex-direction: column;
}
.form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  width: 100%;
  flex-direction: column;
}

.check-type-user {
  margin-top: 20px;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

label {
  color: #393939;
  color: var(--white, #fffbfb);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-auth {
  margin-top: 30px;
  display: flex;
  width: 80%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  border: 1px solid var(--Purple-1, #5d54a0);
  background: var(--white, #fffbfb);
  box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--Purple-1, #5d54a0);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
