.perso-info-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.name-page{
    color: #000;
font-family: Inter;
font-size: 19px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 40px;
}
.navigate{
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}
.container-perso{
    width: 90%;
    display: flex;
    flex-direction: column;

}

.profile-imag {
    width: 90px;
    height: 90px;
    background-image: url('./MalekPhoto.jpg');
    border-radius: 60px;
    border: 2px solid white;
    position: relative;
    background-size: cover;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.40);
    margin-left: 15px;
}

.camera-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 8px;
}

.img-container {
    margin-top: 20px;
    width: 100%;
}


.perso-conatiner{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.attribute-info{
color: #A5A5A5;
text-align: left;
margin-top: 20px;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.value-info{
    color: #000;
font-family: Inter;
font-size: 19px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: left;
margin-top: 0px;
width: 100%;
}

.detail-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}