.page-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  
  }
  
  .reservation-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align children to the top */
    align-items: center;
  }
  
  .bookDay {
      position: relative;
    width: 100%;
    height: 75px;
    border-radius: 10px;
    border: 1px solid var(--grey-2, rgba(119, 114, 114, 0.6));
    background: var(--white, #fffbfb);
    box-shadow: -12px 6px 4px 0px rgba(0, 0, 0, 0.2);
    margin-top: 7px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
  }
  
  .btn-reserve {
    display: flex;
    width: 40%;
    height: 50%;
    justify-content: center;
    align-items: center;
    background-color: #5d54a0;
    border-radius: 10px;
    margin-right: 10px;
  
  
  }
  .txt-reserve {
    color: white;
  }
  .time-book{
      display: flex;
      flex-direction: row;
      margin-left: 10px;
      justify-content: center;
      align-items: center;
  }
  .txt-time{
      color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  }
  .btn-checkAvailable{
      display: flex;
      width: 40%;
      height: 50%;
      justify-content: center;
      align-items: center;
      background-color: #5d54a0;
      border-radius: 10px;
      margin-right: 10px;
      margin-left: 10px;
  }

  .book-Horaire{
    position: relative;
    width: 100%;
    height: 75px;
    border-radius: 10px;
    border: 1px solid var(--grey-2, rgba(119, 114, 114, 0.6));
    background: var(--white, #ebe8ed);
    box-shadow: -12px 6px 4px 0px rgba(0, 0, 0, 0.2);
    margin-top: 7px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
  }

  