.container-history{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-session-history{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}